html,body {
	font-family: geneva, arial;
	font-size: 14px;
	height : 100%;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.clear {
	clear: both;
}

.header {
	margin-bottom: 5px;
}

.header .banner {
	height: 45px;
	font-size: 28px;
	font-weight: bold;
	background-color: #687FC1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-top: 8px;
	padding-left: 20px;
	margin: 5px;
	background-color: #687FC1;
}

.breadcrumb {
    margin-left: 30px;
    margin-bottom: 5px;
}

.footer {
	border-top: solid;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer .copyright {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* index.html */
.indices {
	margin-top: 20px;
	margin-left: 10px;
}

.defaultValue {
	font-style: italic;
	color: #222222;
}

#createIndexError {
    color: red;
}

/* logs.html */
#searchInput {
	background-color: #E0E0E0;
	height: 40px;
	padding-top: 8px;
	padding-left: 20px;
}

#searchInput #query {
	height: 21px;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
}

#searchInput #submit {
	height: 21px;
	width: 21px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: white;
    color: black;
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

#searchInput #tail {
	font-family: monospace;
	font-size: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: white;
    text-decoration: none;
    color: black;
    padding: 4px;
    margin-left: 10px;
    margin-top: 5px;
}

#searchInput a#tail:hover {
    text-decoration: none;
}

#searchInput #connectionStatus {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.results_header {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.facets {
	float: left;
	margin: 5px;
	padding: 5px;
	background-color : #E0E0E0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #E0E0E0;
}

.show_data {
    float: right;
    margin: 5px;
    padding: 5px;
    background-color : #E0E0E0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #E0E0E0;
}

.facets .facets_level {
    float: left;
}
.facets .facets_thread {
    float: left;
}
.facets .facets_level {
    float: left;
}
.facets .facets_level {
    float: left;
}

#searchResults {
	margin: 5px;
}

#searchResults table {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
}

#searchResults table th {
	border: 1px solid black;
	padding: 3px;
	font-weight: bold;
	background-color: #687FC1;
	color: white;
}

#searchResults table th.message {
    width: 60%;
}

#searchResults table td {
	border: 1px solid;
	padding: 3px;
}

#searchResults table .even.TRACE {
    background-color: #dadada
}

#searchResults table .odd.TRACE {
    background-color: #ffffff
}

#searchResults table .even.DEBUG {
    background-color: #adc2db
}

#searchResults table .odd.DEBUG {
    background-color: #7aa2d4
}

#searchResults table .even.INFO {
    background-color: #9cbc87
}

#searchResults table .odd.INFO {
    background-color: #84b95f
}

#searchResults table .even.WARN {
    background-color: #dfb95f
}

#searchResults table .odd.WARN {
    background-color: #df9d00
}

#searchResults table .even.ERROR {
    background-color: #a04747
}

#searchResults table .odd.ERROR {
    background-color: #a05d5d;
}