<configuration scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

    <appender name="ELASTICLOGGER" class="org.hibnet.elasticlogger.ElasticLoggerAppender">
        <clusterName>elasticlogger</clusterName>
    </appender>

	<root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ELASTICLOGGER" />
	</root>

	<logger name="ch.qos.logback" level="TRACE" />

</configuration>

