<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel='stylesheet' type='text/css' href='/elasticlogger.css' />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
	        <div class="banner">
	            Elasticlogger
	        </div>
        </div>
        <div class="content">
            #parse($content_template)
        </div>
        <div class="footer">
            <div class="copyright">
                Copyright 2011 Nicolas Lalev&eacute;e
            </div>
        </div>
    </body>
</html>